.icon-btn {
  border-radius: 50%;
  border: none;
  /*background: var(--color-white);*/
  background-color: transparent;
  box-shadow: 0 2px 8px rgba(61, 58, 53, 0.08);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, background 0.2s;
  color: var(--color-primary);
}

.icon-btn:hover {
  transform: scale(0.95);
  background: var(--color-neutral);
}

.icon-btn .material-symbols-outlined {
  line-height: 1;
}
