<app-room-header/>

<main class="timeline-main">
  <section class="timeline-section">
    <div class="timeline-line"></div>

    @if (importantDates().length === 0) {
      <div class="empty-state">
        <h3>Aún no hay fechas importantes</h3>
        <p>Añade aniversarios, primeras citas o viajes inolvidables.</p>
      </div>
    }

    @for (date of importantDates(); track date.id) {
      <!-- Componente tonto que se maneja solo -->
      <app-timeline-item
        [date]="date"
        [index]="$index"
        (deleteDate)="deleteDate($event)"
      />
    }
  </section>
</main>

<button class="fab-btn" (click)="openModal()">
  <span class="material-symbols-outlined">add_circle</span>
  <span class="fab-text">Añadir Fecha</span>
</button>

<app-add-date-modal
  [isOpen]="isModalOpen()"
  [roomId]="roomId()"
  (closeModal)="isModalOpen.set(false)"
  (dateCreated)="onDateCreated($event)"
/>
